### Установка пакетов

In [10]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

### Импорт библиотек

In [11]:
import json
import matplotlib.pyplot as plt
import os
from pyspark.ml.stat import ChiSquareTest
from pyspark.ml.linalg import Vectors
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum

### Генерация номера задания

In [12]:
# random.randint(1, 200)

Сгенерирован номер с заданием 99

### Создание каталога data для хранения данных

In [13]:
if not os.path.exists('data'):
  os.makedirs('data')

### Создание экземпляра SparkSession

In [14]:
spark = SparkSession.builder.appName('Homework_3_lab4').getOrCreate()

### Задание 1. Считать файл 4.csv и создать Spark DataFrame

In [15]:
df = spark.read.format('csv').option('header', 'true').load('data/4.csv')
df.show(5)

+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---+------+
|        feature_1|         feature_2|         feature_3|        feature_4|         feature_5|         feature_6|         feature_7|         feature_8|         feature_9|        feature_10|        feature_11|        feature_12| id|target|
+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---+------+
|66.42466482734166| 44.70872653121246|30.775372350642026| 51.1389709391279| 28.72440341044677| 57.94952775008367| 51.28947730127982|11.669599638611906| 61.00306652060417|46.634124685340595|58.001695855553265| 31.69836310949832|  0|     0|
|70.87793616714605|  38.5992682438055|22.045540363306007|28.85845991932061| 35.57996323644202| 41.37034454516032|  20.0552095785698|38.358490305910664| 55.45676866433533| 55.26019485121442| 73.94404920519521| 22.54155481157264|  1|     0|
|52.65358761742088|27.270578999326727|  53.3884344050609|47.38162151953456|40.073475065462134| 31.74236462763645|41.243517716986304| 4.873996515302217| 41.64875977975088|24.406273010449947| 60.66822041476222|45.718848356744104|  2|     1|
|65.91668055413234|41.859496629632005|  52.2020535634286|51.10262326576781| 40.31434866165625| 36.20363966154429|49.103149649064434| 33.09851191853613| 47.38911187078553|21.213952277761255| 44.90614750174443| 30.85134922386108|  3|     1|
|65.65323964461042| 61.55979106669115| 16.60371335949345|53.73743226507071|  49.3299851010543|44.214012813978734|52.532694878813196|13.754753915273543|46.582248603243634| 36.63652221895657| 66.41334026654236| 23.40966061544064|  4|     1|
+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+---+------+
only showing top 5 rows

### Задание 2. Подготовить исходный набор данных для расчета критерия согласия Пирсона (Pearson’s Chi-squared test)

In [16]:
def row_to_vector(row):
  return [
    int(row[-1]),
    Vectors.dense(*row[:12])
  ]

df_prepared = df.rdd.map(row_to_vector).collect()
df_test = spark.createDataFrame(df_prepared, [ 'label', 'features' ])

df_test.show(5)

+-----+--------------------+
|label|            features|
+-----+--------------------+
|    0|[66.4246648273416...|
|    0|[70.8779361671460...|
|    1|[52.6535876174208...|
|    1|[65.9166805541323...|
|    1|[65.6532396446104...|
+-----+--------------------+
only showing top 5 rows

### Задание 3.	Выполнить расчет критерия согласия Пирсона (Pearson’s Chi-squared test)

In [17]:
xi2 = ChiSquareTest.test(df_test, 'features', 'label', flatten=True) \
  .orderBy('featureIndex')

xi2.show()

+------------+-------------------+----------------+------------------+
|featureIndex|             pValue|degreesOfFreedom|         statistic|
+------------+-------------------+----------------+------------------+
|           0|0.48714614379548027|            1337|1338.0000000000587|
|           1|0.48714614379593424|            1337|1338.0000000000603|
|           2|0.48714614379548027|            1337|1338.0000000000587|
|           3| 0.4871461437959326|            1337|1338.0000000000605|
|           4|  0.487146143795963|            1337|1338.0000000000566|
|           5| 0.4871461437957113|            1337| 1338.000000000059|
|           6| 0.4871461437957113|            1337| 1338.000000000059|
|           7| 0.4871461437959539|            1337|1338.0000000000578|
|           8| 0.4871461437957102|            1337|1338.0000000000591|
|           9|0.48714614379548027|            1337|1338.0000000000587|
|          10| 0.4871461437957102|            1337|1338.0000000000591|
|          11|0.48714614379548216|            1337|1338.0000000000584|
+------------+-------------------+----------------+------------------+

### Задача 4. Записать полученные данные в файл (п. 3)

In [18]:
xi2.toPandas().to_json('data/r_4.json')