### Установка пакетов

In [247]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

### Импорт библиотек

In [248]:
import random
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import os

### Генерация номера задания

In [249]:
# random.randint(1, 200)

Сгенерирован номер с заданием 99

### Создание экземпляра SparkSession

In [250]:
spark = SparkSession.builder.appName('Homework_2_lab1').getOrCreate()

### Задание 1. Считать файл 1.csv и создать Spark DataFrame

In [251]:
df = spark.read.format("csv").option("header", "true").load("data/1.csv")
df.show(5)

+----------+--------------------+-----+--------+--------+--------------------+---------------+---------------+------+--------------------+
|product_id|                name|price|quantity|category|         description|production_date|expiration_date|rating|              status|
+----------+--------------------+-----+--------+--------+--------------------+---------------+---------------+------+--------------------+
|         1|             Эндивий| 4711|     167|   Овощи|Отличается низкой...|     1990-07-06|     2011-01-02|  1.09|            Returned|
|         2|Каша из дробленно...| 1712|     214| Бакалея|Отличается высоки...|     2003-01-02|     2013-01-02|  0.04|Available for Pickup|
|         3|                 Ямс|  844|      99|   Овощи|Помогает поддержи...|     2006-03-02|     2020-04-05|  2.08|            Refunded|
|         4|         Балаковская| 2329|     142| Напитки|Помогает поддержи...|     2022-05-02|     2028-02-09|  2.06|    Awaiting Payment|
|         5|              Конина| 5834|     271|    Мясо|Отличается высоки...|     1999-04-08|     2004-03-15|  1.19|            In Stock|
+----------+--------------------+-----+--------+--------+--------------------+---------------+---------------+------+--------------------+
only showing top 5 rows

### Задание 2. Вывести последние 10 строк

In [252]:
df.tail(10)

[Row(product_id='493', name='Папайя', price='9623', quantity='618', category='Фрукты', description='Помогает поддерживать нормальный уровень апигенина, флавоноида, полезного для здоровья мозга и иммунной системы.', production_date='2010-02-12', expiration_date='2014-03-07', rating='3.08', status='Sold'),
 Row(product_id='494', name='Айран', price='1422', quantity='875', category='Молочные продукты', description='Помогает поддерживать нормальный уровень глюкагона, гормона, регулирующего уровень глюкозы в крови.', production_date='2015-03-02', expiration_date='2026-05-06', rating='0.49', status='Out of Stock'),
 Row(product_id='495', name='Пакеты для мастер-класса', price='7074', quantity='672', category='Товары для дома', description='Помогает поддерживать нормальный уровень зеаксантина, каротиноида, важного для здоровья глаз.', production_date='1997-10-02', expiration_date='2010-01-02', rating='2.71', status='Cancelled'),
 Row(product_id='496', name='Гранат', price='5762', quantity='306', category='Фрукты', description='Подходит для людей с чувствительным пищеварением.', production_date='1994-04-10', expiration_date='2015-05-12', rating='1.15', status='Pending'),
 Row(product_id='497', name='Лопатка', price='7990', quantity='568', category='Мясо', description='Отличается высоким содержанием оротовой кислоты, необходимой для синтеза ДНК и РНК.', production_date='2022-08-09', expiration_date='2027-02-02', rating='3.57', status='Awaiting Review'),
 Row(product_id='498', name='Сыворотка молочная', price='7787', quantity='975', category='Бакалея', description='Способствует нормализации обмена веществ в организме.', production_date='2015-03-10', expiration_date='2021-01-10', rating='2.7', status='Awaiting Payment'),
 Row(product_id='499', name='Молоко', price='2171', quantity='189', category='Молочные продукты', description='Является неотъемлемой частью рациона многих народов мира.', production_date='2016-04-23', expiration_date='2024-02-12', rating='1.67', status='Temporarily Unavailable'),
 Row(product_id='500', name='Пакеты для конференции', price='5668', quantity='416', category='Товары для дома', description='Помогает поддерживать нормальный уровень ацетилхолина, нейромедиатора, ответственного за память и обучение.', production_date='2006-01-02', expiration_date='2011-01-20', rating='4.59', status='Backorder'),
 Row(product_id='501', name='Кардамон молотый', price='4715', quantity='715', category='Бакалея', description='Отличается высоким содержанием нарингина, флавоноида, полезного для снижения уровня холестерина и улучшения пищеварения.', production_date='2004-02-14', expiration_date='2014-11-01', rating='0.2', status='New'),
 Row(product_id='502', name='Челябинская', price='122', quantity='497', category='Напитки', description='Помогает поддерживать нормальный уровень холестерина в крови.', production_date='2004-02-01', expiration_date='2021-05-03', rating='1.13', status='Refunded')]

### Задание 3. Вывести количество колонок

In [253]:
len(df.dtypes)

10

### Задание 4. Вывести статистические характеристики для всех колонок

In [254]:
df.describe().show()

+-------+------------------+---------------+-----------------+-----------------+--------+--------------------+---------------+---------------+------------------+--------------------+
|summary|        product_id|           name|            price|         quantity|category|         description|production_date|expiration_date|            rating|              status|
+-------+------------------+---------------+-----------------+-----------------+--------+--------------------+---------------+---------------+------------------+--------------------+
|  count|               502|            502|              502|              502|     502|                 502|            502|            502|               502|                 502|
|   mean|             251.5|           NULL|4871.599601593625|506.3027888446215|    NULL|                NULL|           NULL|           NULL| 2.459402390438248|                NULL|
| stddev|145.05918332414072|           NULL|2864.218713604308|292.5283410058042|    NULL|                NULL|           NULL|           NULL|1.4334440058817324|                NULL|
|    min|                 1|Adrenaline Rush|             1010|               10| Бакалея|Богат кальцием, н...|     1990-01-12|     1993-01-26|              0.01|Available for Pickup|
|    max|                99|            Ямс|             9980|              995|  Фрукты|Является неотъемл...|     2022-10-06|     2030-11-01|              5.01|Temporarily Unava...|
+-------+------------------+---------------+-----------------+-----------------+--------+--------------------+---------------+---------------+------------------+--------------------+

### Задание 5. Удалить указанную колонку ```expiration_date```

In [255]:
df_dropped = df.drop('expiration_date')
df_dropped.show(5)

+----------+--------------------+-----+--------+--------+--------------------+---------------+------+--------------------+
|product_id|                name|price|quantity|category|         description|production_date|rating|              status|
+----------+--------------------+-----+--------+--------+--------------------+---------------+------+--------------------+
|         1|             Эндивий| 4711|     167|   Овощи|Отличается низкой...|     1990-07-06|  1.09|            Returned|
|         2|Каша из дробленно...| 1712|     214| Бакалея|Отличается высоки...|     2003-01-02|  0.04|Available for Pickup|
|         3|                 Ямс|  844|      99|   Овощи|Помогает поддержи...|     2006-03-02|  2.08|            Refunded|
|         4|         Балаковская| 2329|     142| Напитки|Помогает поддержи...|     2022-05-02|  2.06|    Awaiting Payment|
|         5|              Конина| 5834|     271|    Мясо|Отличается высоки...|     1999-04-08|  1.19|            In Stock|
+----------+--------------------+-----+--------+--------+--------------------+---------------+------+--------------------+
only showing top 5 rows

### Задание 6. Создайть новую колонку ```цена в $``` ```(price * 92.26)```

In [256]:
df_added = df_dropped.withColumn('price_in_$', col('price') * 92.26)
df_added.show(5)

+----------+--------------------+-----+--------+--------+--------------------+---------------+------+--------------------+------------------+
|product_id|                name|price|quantity|category|         description|production_date|rating|              status|        price_in_$|
+----------+--------------------+-----+--------+--------+--------------------+---------------+------+--------------------+------------------+
|         1|             Эндивий| 4711|     167|   Овощи|Отличается низкой...|     1990-07-06|  1.09|            Returned|434636.86000000004|
|         2|Каша из дробленно...| 1712|     214| Бакалея|Отличается высоки...|     2003-01-02|  0.04|Available for Pickup|         157949.12|
|         3|                 Ямс|  844|      99|   Овощи|Помогает поддержи...|     2006-03-02|  2.08|            Refunded|          77867.44|
|         4|         Балаковская| 2329|     142| Напитки|Помогает поддержи...|     2022-05-02|  2.06|    Awaiting Payment|         214873.54|
|         5|              Конина| 5834|     271|    Мясо|Отличается высоки...|     1999-04-08|  1.19|            In Stock| 538244.8400000001|
+----------+--------------------+-----+--------+--------+--------------------+---------------+------+--------------------+------------------+
only showing top 5 rows

### Задание 7. Запсать полученный набор данных в файл r_1.json

In [257]:
df_added.write.json('data/r_1.json', mode='overwrite')